

<h1>Kalendorius</h1>
<div style="float:left;"> 
  <%= link_to_if(can?(:manage, Event), 'Sukurti įvykius', events_path) %>
</div>


<div style="float:right;"><%= 'Pasirinkite datą' %>
 

<input type="text" value="" id="filterdate" name="filterdate" class="hasDatepicker">
  <%= button_to_function 'Žiūrėti',  "location.href='#{url_for(:action => 'index')}/'+$('year_value').value+'/'+$('month_value').value+'/'+$('day_value').value"  %>
</div>
<br />

<div>
   <%= button_to "Ataskaitos", url_for(:action => 'acounting') %>
</div>

<script>
$('#filterdate').datetimepicker();
</script>