<p>
You can put a nice description of what is going on here.  Perhaps a little real time
metric value, such as 
<b>{% since midnight %}{{ application.metrics['Controller'].call_count.value }}{% endsince %}
http requests</b> were handled so far today.
</p>
<p>Here is a list of your applications:</p>
<ul>
{% for app in account.applications %}
  <li>{{ app.health_status | traffic_light }} {{ app.name | link_to_application:app }}</li>
{% endfor %}
</ul>
<h3>Charts</h3>
<table width='100%'>
  <tr>
    <td width='50%'>
      {% line_chart regexp:'CPU/(.*)' title:'CPU Utilization' value:time_percentage %}
    </td>
    <td width='50%'>
      {% pie_chart regexp:'Database/(.*)/(select|insert|update|delete)' title:'Database Activity' value:time_percentage %}
    </td>
  </tr>
  <tr>    
    <td>
      {% horizontal_bar_chart value:call_count title:'Horizontal Bar Chart' regexp:'WebTransaction/(.*)' %}
    </td>
    <td>
      {% compare_with_last_week_chart metric:'Database/all' title:'Week to Week Comparison' value:time_percentage %}
    </td>
  </tr>
  <tr>
    <td>
      {% daily_summary_chart metric:'Errors/all' title:'Daily Summary Chart' value:call_count %}
    </td>
    <td>
      {% weekly_summary_chart metric:'Errors/all' title:'Weekly Summary Chart' value:call_count %}
    </td>
  </tr>
</table>
