<h1>Sveiki!</h1>

<% unless user_signed_in? -%>
  <p><%= link_to 'Registracija', new_user_registration_path, :class => "signup_button round" %></p>
  <p><%= link_to 'Prisijunkite', new_user_session_path, :class => "signup_button round" %></p>
<% end -%>

<% if user_signed_in?&&current_user.admin? -%>
  <p><%= link_to 'Sveiki prisijunge', "token_path(:auth_token => current_user.admin?)" %></p>
<% end -%>

