  <nav class="round" style="float:left;">
    <ul>
        <li>
          <%= link_to('Aplikacija', monitors_path) %>
        </li>
        <li>
          <%= link_to('Duomenø bazë', database_path) %>
        </li>
        <li>
          <%= link_to('Klaidos', web_path)  %>
        </li>
    </ul>
  </nav>