  <nav class="round" style="float:left;">
    <ul>
        <li>
          <%= link_to('Aplikacija', monitors_path) %>
        </li>
        <li>
          <%= link_to('Duomenų bazė', database_path) %>
        </li>
        <li>
          <%= link_to('Internetas', web_path)  %>
        </li>
    </ul>
  </nav>