<p>Aplikacijos statistika:</p>
<iframe src="https://heroku.newrelic.com/public/charts/4ZfP05awFy4" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://heroku.newrelic.com/public/charts/egkJS2OpsZy" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://heroku.newrelic.com/public/charts/aHgFhQpIiXu" width="500" height="300" scrolling="no" frameborder="no"></iframe>